* {
	padding: 0px;
	margin: 0px;
}

header, nav, section, footer {
	display: block;
	font-size: 1.6em;
}

body {
	text-align: center;
	font-size: 62.5%;
	font-family: Arial, ComicSansMS, TimesNewRoman;
	
	background: url(bilder/hintegrundbild2.png) no-repeat center center fixed;
	background-size: cover;
	width: 100%;
	min-height:100%;
}

header {
	background-image: url(bilder/bild2.png);
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center;
	
	background-color: white;
	height: 150px;
	width: 900px;
	border-top-right-radius: 100px;

	margin: 0 auto;
}

header #titel {
	font-weight: bold;
	text-align: right;
	padding-right: 30px;
	padding-top: 40px;
	font-size: 2.5em;
	color: white;
}


section {
	background-image: url(bilder/grau-50.png);
	height: auto;
	margin-left: auto;
	padding-top: 10px;
	padding-bottom: 10px;
}

section #saveTheDate {
	border-right: 2px solid gray;
	border-bottom: 2px solid gray;
    border-radius: 10px; 

}



footer {
	background-color: #cccccc;
	border-radius: 40px;
	
	line-height: 20px;
	font-size: 15px;
	text-align: center;
	clear: both;
}

#wrapper {
	width: 900px;
	margin: 0 auto;
	text-align: left;
}

saveTheDate.hover(function() {
  $(this).prop("controls", true);
}, function() {
  $(this).prop("controls", false);

})